<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>Processing</string>
    <key>CFBundleIconFile</key>
    <string>processing.icns</string>
    <key>CFBundleIdentifier</key>
    <string>org.processing.app</string>
    <key>CFBundleDisplayName</key>
    <string>Processing</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Processing</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>3.5.4</string>
    <key>CFBundleVersion</key>
    <string>0270</string>
    <key>CFBundleSignature</key>
    <string>Pde3</string>
    <key>NSHumanReadableCopyright</key>
    <string>© The Processing Foundation</string>
    <key>CFBundleGetInfoString</key>
    <string>3.5.4, Copyright © The Processing Foundation</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.8.5</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>JVMRuntime</key>
    <string>jdk1.8.0_202.jdk</string>
    <key>JVMMainClassName</key>
    <string>processing.app.BaseSplash</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>pde</string>
          <string>pyde</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>document.icns</string>
        <key>CFBundleTypeName</key>
        <string>Processing Source Code</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>LSTypeIsPackage</key>
        <false/>
      </dict>
    </array>
    <key>LSArchitecturePriority</key>
    <array>
      <string>x86_64</string>
    </array>
    <key>LSEnvironment</key>
    <dict>
      <key>LC_CTYPE</key>
      <string>UTF-8</string>
    </dict>
    <key>JVMOptions</key>
    <array>
      <string>-Xdock:icon=$APP_ROOT/Contents/Resources/processing.icns</string>
      <string>-Xmx256M</string>
      <string>-Dapple.awt.application.name=Processing</string>
      <string>-Djna.nosys=true</string>
      <string>-Djava.ext.dirs=$APP_ROOT/Contents/PlugIns/jdk1.8.0_202.jdk/Contents/Home/jre/lib/ext</string>
      <string>-Dapple.laf.useScreenMenuBar=true</string>
      <string>-Dcom.apple.macos.use-file-dialog-packages=true</string>
      <string>-Dcom.apple.macos.useScreenMenuBar=true</string>
      <string>-Dcom.apple.smallTabs=true</string>
    </array>
    <key>JVMArguments</key>
    <array>
    </array>
  </dict>
</plist>
